/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/* Accordion from https://www.w3schools.com/howto/howto_js_accordion.asp*/
.accordion {
  font-family: 'Manrope', sans-serif;
  font-size:2rem;
  background-color: black;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 2rem;
}

.accordion:after {
  content: '\002B'; /* Unicode character for PLUS SIGN */
  color: #fff;
  stroke: none;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\002D"; /* Unicode character for MINUS SIGN */
}


.active, .accordion:hover {
  background-color: rgb(50,50,50);
}


.panel {
  display: none;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: max-height 0.2s ease-out;
}


/* Text elements*/
body {
  font-family: 'Open Sans', sans-serif;
  padding: 2rem;
  margin-top: 1.3rem;
  color: #0e0e0e;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 4rem;
  margin-top: 2rem;
}

h2 {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  margin-top: 1rem;
}

h3 {
  background-color: black;
  padding: 1rem;
  color: white;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-family: 'Manrope', sans-serif;
  font-weight: lighter;
  font-size:1rem;
  margin-bottom: 0.5rem;
}

p {
  font-family: 'Manrope', sans-serif;
  margin-top: 0.5rem;
}

img{
  max-width: 50%;
  height:auto;
}

.element {
  padding-bottom: 2rem;

}

nav{
    display: block;
    background-color: black;
    padding-left: 1rem;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    margin-bottom:2rem;
    z-index:1;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

.ordered-list{
  list-style: none;
  clear:both;
  padding-left: 2%;
}

.ordered-list li{
  margin-top: 2rem;

  padding-top: 2rem;

  display:block;
  position: relative;
  counter-increment: counter;
}

.ordered-list li::before{
  content: counter(counter);
  
  background: black;
  color: white;
  
  font-size: 2rem;
  
  text-align: center;
  
  padding-top: 0;
  padding-left: 0;

  height: 2.75rem;
  width: 2.75rem;

  margin-top:-3rem;

  position: absolute;
}

.console-logo{
  width:10%;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

.button-nav{
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  display: inline-block;
  padding: 1rem;
  color: white;
  background-color:black;
  text-decoration: none;
  transition-property: background-color, color; 
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus, .button-nav:active{
  color: rgb(110,150,240);
  background-color: rgb(50,50,50);
}

.button-submit {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  border: none;
  display: inline-block;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  background-color:black;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.button-reset {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  border: none;
  display: inline-block;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  background-color:rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.button-seemore {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  border: none;
  display: inline-block;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;   
  margin-left: 2rem;
  color: black;
  background-color:white;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.25s;
}


.button-submit:hover, .button-submit:focus, .button-submit:active, .button-reset:hover, .button-reset:focus, .button-reset:active, .button-seemore:hover, .button-seemore:focus, .button-seemore:active{
  background-color: rgb(110,150,240);
}

.text-link {
  display: inline-block;
  color: rgb(110,150,240);
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.25s;
}

.text-link:active, .text-link:hover, .text-link:focus {
  color:black;
}

.style-link{
  display: inline-block;
  color:white;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.25s;
}

.style-link:active, .style-link:hover, .style-link:focus {
  color:rgb(110,150,240);
}

label{
  font-size: 1rem;
  font-weight: bold;
  color:black;
}

.input-text{
  font-size: 1rem;
  margin-bottom: 1rem;
  border: solid 2px;
  border-color: black;
  transition-property: border-color;
  transition-duration: 0.25s;
}

.input-text:hover, .input-text:focus{
  border-width: 2px;
  border-color: rgb(110,150,240);
}

.input-text:active{
  border-color: rgb(110,150,240);
}

.input-radio{
  transition-property: background-color;
  transition-duration: 0.25s;
}

.input-radio:hover, .input-radio:focus{
  background-color: rgb(110,150,240);
}

.input-radio:active{
  background-color: rgb(110,150,240);
}

.img-link{
  height:auto;
  transition-property: border;
  transition-duration: 0.25s;
}


/* 
  TEXT ELEMENTS -------------------
*/
.manrope{
  font-family: 'Manrope', sans-serif;
}

.montserrat{
  font-family: 'Montserrat', sans-serif;
}

.open-sans{
  font-family: 'Open Sans', sans-serif;
}

/* 
  COMBINED ELEMENTS -------------------
*/

.product-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  padding: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-listing{
  margin:2rem;
  padding:1rem;
  width:fit-content;
  box-shadow: -5px 5px rgb(110,150,240);
  background-color: white;
  text-align:center;
}

.product-listing:hover {
    transform: translate(5px, -5px);
    transition-duration: 0.25s;
    box-shadow: -10px 10px rgb(110,150,240);
}

.payment-form{
  display:flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.checkout{
  display:flex;
  gap: 5rem;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.cart{
  flex:2;
  padding-left: 1rem;

  display:flex;
  flex-direction: column;
}

.cart-item{
  display:flex;
  flex-direction: row;
  gap:5rem;
}

.cart-header{
  display:flex;
  flex-direction:row;
}

.cart-header-item{
  flex:1;
}

.cart-object{
  display:inline-block;
  flex-wrap: wrap;
  flex:1.75;
}

.cart-quantity{
  display:inline-block;
  margin-top: 1.25rem;
  flex:1;
}

.cart-price{
  display:inline-block;
  margin-top: 1.25rem;
  flex:2;
}

.calculation{
  flex:2;
}


.footer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  padding: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer h3{
  font-weight: lighter;
}

.image-container{
  display:flex;
  flex-wrap: wrap;
}

.game-covers{
  display:flex;
  flex-direction: row;
  flex-basis: content;
}

.game-cover-item-1{
  flex:1;
}

.game-cover-item-2{
  flex:1;
}

.game-cover-item-3{
  flex:1;
}

.console-icons{
  display:flex;
  flex-direction: row;
}

.console-icon-1{
  flex: 1;
}

.console-icon-2{
  flex:1;
}

.console-icon-3{
  flex:1;
}

.console-icon-4{
  flex: 1;
}

.hero {
    width:100%;
    position:relative;
    text-align:center;
}

.hero img{
    max-width:100%;
    min-width:100%;
}

.hero .gradient{
    width:100%;
    height:70%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    /* positioning code from https://www.w3schools.com/howto/howto_css_image_text.asp*/
    position:absolute;
    top:30%;
}

.hero-content {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    width:100%;
    /* positioning code from https://www.w3schools.com/howto/howto_css_image_text.asp*/
    position:absolute;
    top:90%;
    left:0%;
    transform: translate(0, -100%);
}

.hero-content h2 {
    color: white;
}

.brand-intro{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    padding: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.brand-intro h1{
    margin:auto;
    margin-top:2rem;
    margin-bottom:2rem;
}

.brand-intro p{
    max-width: 50%;
    margin:auto;
}

.mainpage-feature{
    display:flex;
    flex-direction:row;
    align-items:center;
    flex-wrap:wrap;
    padding-left:10%;
    padding-right:10%;
}

.alternate{
    flex-direction:row-reverse;
}

.mainpage-feature-content{
    padding:3rem;
    display:inline-block;
    flex-basis:15em;
    flex-grow:1;
}

.mainpage-feature-image{
    background-color:black;
    flex-basis:20em;
    flex-grow:1;
    margin:3rem;
}

.mainpage-feature-image img{
    margin: auto;
    display:block;
    min-height: 20em;
    min-width: 25em;
}

.product-details{
  display:flex;
  flex-direction:row;
  margin-top:3rem;
  flex-wrap:wrap;
}

.product-details-content{
  padding:3rem;
  display:inline-block;
  flex-basis:20em;
  flex-grow:1;
}

.product-details-image{
  background-color:black;
  padding-left:17.5%;
  flex-basis:25em;
  flex-grow:1;
}

.review-grid{
  color: black;
  border-bottom: 0.25rem solid black;
}

.specs{
  color:white;
  background: black;
  justify-content: center;
  padding: 0rem 10rem 4rem 10rem;
}

.specs h4{
  font-family: 'Cormorant Garamond', serif;
  font-size: 4rem;
  padding-top: 2rem;
  text-align: center;
}

.specs p{
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.spec-left{
  color: white;
  text-align: left;
  padding: 1rem 5rem 1rem 1rem;
}

.spec-right{
  color:white;
  text-align: left;
  padding: 1rem 25rem 1rem 5rem;
}

table{
  width: 100%;
}

th,tr{
  color: #eaf4fc;
  border-bottom: 0.1rem solid white;
}

@media (min-width:80rem) {

  body{
      margin: 1.3rem 10rem;
  }

}